body {
    font-family: 'Montserrat', sans-serif;
    background-color: blanchedalmond;
    font-size: 20px;
}

.sec {
    margin: 0 auto;
}

table {
    margin: 0 auto;
}

table, th, td {
    border: 1px solid green;
    border-collapse: collapse;
}

thead {
    background-color: pink;
}